<h2><%= link_to @favorit.name, @favorit.url %></h2>
<%= link_to "Удалить статью", @favorit, method: :delete %>
<% if @favorit.body == nil %>
  <h4>Статья еще не сгенерирована, обновите страницу через пару минут</h4>
<% else %>
  <%= raw @favorit.body %>
<% end %>
