<% @title = @favorit.name %>
<h2><%= @favorit.name %></h2>
<% if @favorit.body == nil %>
  <h4>Статья еще не сгенерирована, обновите страницу через пару минут</h4>
<% else %>
  <%= raw @favorit.body %>
<% end %>
