/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #241E27;
  color: #fff;
  font-size: 136%;
}

a {
  color: #8d8093;
}
a:visited {
  color: #8d8093;
}
a:hover {
  color: #8D8093;
}

.nav {
  ul.dropdown-menu {
    background-color: #211C25;
  }
  .open, li {
    a {
      background-color: #241E27;
      color: #8d8093;
    }
    a:hover, a:focus {
      background-color: #211C25;
      color: #675D6B;
    }
  }
}

.alert {
    background-color: #232527;
    color: #fff;
}

.close {
    color: #fff;
}

.pagination {
  li, .prev, .disabled, .next {
    a {
      color: #8d8093;
      background-color: #241E27;
      border-color: #241E27;
    }
    a:hover, a:focus {
      background-color: #211C25;
      color: #675D6B;
      border-color: #211C25;
    }
  }
  .active {
    a {
      background-color: #4A3F4F;
      color: #9E8FA4;
      border-color: #4A3F4F;
    }
    a:hover, a:focus {
      background-color: #211C25;
      color: #675D6B;
      border-color: #211C25;
    }
  }
}
.col-centered{
    float: none;
    margin: 0 auto;
}

#scrollup {
  position: fixed;
  opacity: 0.3;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
  height: 100%;
  display: none;

  img {
    position: relative;
    top: 50%;
  }
}

#scrollup:hover {
  opacity: 0.6;
}

#back {
  position: fixed;
  opacity: 0.3;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
  height: 100%;
  display: none;

  img {
    position: relative;
    top: 50%;
  }
}

#back:hover {
  opacity: 0.6;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #8d8093;
}
