// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

.table {
  background-color: #241E27;
}

tr#danger {
 td {
   background-color: #401e28;
 }
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #211C25;
}

#description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: pre-line;
  height: auto;
  max-height: 600px;
}
